<!DOCTYPE html>
<html>
    <head>
        <!-- [[! Document Settings ]] -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- [[! Page Meta ]] -->
        <title>{% if title %}{{ title }}{% elsif site.name %}{{ site.name }}{% endif %}</title>
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/svg+xml" href="{{ "favicon.svg" | imgPath }}" >
        <link rel="shortcut icon" type="image/png" href="{{ "favicon.png" | imgPath }}" >


        <!-- [[! Ghost outputs important style and meta data with this tag ]] -->
        {% include "head.liquid" %}

        <!-- [[! Styles ]] -->
        {% capture css %}
            {% include "fonts.css" %}
            {% include "main.css" %}
            {% include "one-dark-primejs.css" %}
        {% endcapture %}

        <style>
            {{ css | cssmin }}
        </style>
    </head>

    <body>
        {% include "header.liquid" %}

        {{ content }}

        <footer>
          <section><a href="{{ site.baseurl }}">{{ site.name }}</a> &copy; {{ site.current_year }}</section>
          <section>Published with <a href="https://11ty.dev">11ty</a></section>
        </footer>
    </body>
</html>
