---
layout: default
---

<main role="main">
    <article>
        <h1>{{ title }}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ date | date:'%Y-%m-%d' }}">{{ date | date:'%d %b %Y' }}</time>

            <!-- [[tags prefix=" on "]] -->
            {% if tags.size > 0 %} 
            on 
            {% for tag in tags %}
                {% if forloop.index == tags.size %}
                   <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag | capitalize }}</a>
                {% else %}
                   <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                {% endif %}
            {% endfor %}
            {% endif %}
        </section>
        <section class="content">
            {{ content }}
        </section>
    </article>
</main>
